*{
    font-family: sans-serif;
    margin:0;
}

body{
    color: white;
    
}


header{
    flex: 0 50px;
    font-size: 20px;
    background-color: skyblue;
    color:white;

    display: grid;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    
}
.image-container{
    background-image: url(https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=);
    height: 100px;
}
.container{
    display:flex;
    height: 50px;
}
#list{
    flex: 1;
    padding:10px;
}



main{
    flex: 1;
    font-size: 30px;
    background-color: white;
    color : black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        color:black;
    }
    margin: 100px;
}
#login{
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: green;
    color: white;
}

#new{
    width: 100px;
    height: 50px;
    font-size:20px;
    background-color: green;
    color: white;
    
}
.form-group{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
label{
    margin-right:10px;
}

#ID,#password{
    width: 250px;
    height: 30px;
    font-size: 20px;
}

#feedback{
    width: 400px;
    height: 50px;
    font-size: 30px;
    background-color: yellow;
}

#message{
   width: 500px;
   height: 500px;
   font-size: 20px;
}

#save{
    width: 150px;
    height:30px;
    font-size:20px;
    background-color: blue;
    color: white;
}
#delete{
    width: 150px;
    height:30px;
    font-size:20px;
    background-color: red;
    color: white;
}

footer{
    flex: 0 50px;
    font-size: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: blue;
    color: white;
}

