*{
    font-family: sans-serif;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 0;
}
.page-content {
    flex: 1 0 auto;
}


header{
    flex: 0 50px;
    font-size: 20px;
    background-color: skyblue;
    color:white;

    flex-direction: row;
    justify-content: start;
    align-items: center;
    width : 100%;
    
}
.image-container{
    background-image: url(https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=);
    height: 100px;
}
.container{
    list-style : none;
    display:flex;
    height: 50px;
    font-weight : bold;
    color : white;
    width : 100%;
    justify-content: start;
    
}
nav{
    width : 100%;
}
#list{
    padding:5px;
}
a{
    text-decoration : none;
    color : white;
}

main{
    flex: 1;
    font-size: 30px;
    background-color: white;
    color : black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        color:black;
    }
    
}
#outer{
    display : grid;
    grid-template-columns : 1fr 1fr;
}
#outer2{
    grid-column : 1;
}
#outer3{
    grid-column : 2;
    display : flex;
    flex-direction : column;
    align-items : center;
}

#new_outer{
    display : grid;
    grid-template-columns : 1fr 1fr;
    width : 80%;
}
#new_outer2{
    grid-column : 1;
    border : 1px solid black;
    
}
#new_outer3{
    grid-column : 2;
    display : flex;
    flex-direction : column;
    border : 1px solid black;
}


#subject{
    width: 1000px;
    height: 30px;
    font-size: 20px;
}

#feedback2{
    border  : 1px solid black;
    word-break: break-all;
}
#post_form{
    display : flex;
    flex-direction : column;
}
#login{
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: green;
    color: white;
    align-self : center;
}

#new{
    width: 100px;
    height: 50px;
    font-size:20px;
    background-color: green;
    color: white;
    
}
.form-group{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
label{
    margin-right:10px;
}

#ID,#password{
    width: 250px;
    height: 30px;
    font-size: 20px;
}

#feedback{
    width: 400px;
    height: 50px;
    font-size: 30px;
    background-color: yellow;
}

#message, #message2{
   width: 500px;
   height: 500px;
   font-size: 20px;
}

#save{
    width: 150px;
    height:30px;
    font-size:20px;
    background-color: blue;
    color: white;
}
#delete{
    width: 150px;
    height:30px;
    font-size:20px;
    background-color: red;
    color: white;
}



footer{
    flex: 0 50px;
    font-size: 20px;
    flex-shrink: 0;
    background-color: blue;
    color: white;
    
    width : 100%;
}

footer a{
    float: right;
}

@media (orientation : portrait){
    #outer{
        grid-template-rows : 1fr 1fr;
        grid-template-columns : 1fr;
    }
    #outer2{
        grid-column:1;
        grid-row : 1;
    }
    #outer3{
        grid-column:1;
        grid-row : 2;
    }
}

@media (orientation : portrait){
    #new_outer{
        grid-template-rows : 1fr 1fr;
        grid-template-columns : 1fr;
    }
    #new_outer2{
        grid-column:1;
        grid-row : 1;
    }
    #new_outer3{
        grid-column:1;
        grid-row : 2;
    }
}